// Defini variables color
$color-navbar-1: #34252597 ;
$color-navbar-2: #70ced3b9 ;
$color-text: #000000;
$color-button: #192C38;


$primary-light: #fff;
$primary-dark: #192C38;


// Classe Utilités
body {
  height: 100%;
  overflow: hidden;
  color: #333;
  font-size: calc(0.7em + 0.4vw);  
}




.d-none-768-plus {
  display: none;
}

.d-none-768 {
  display: none;
}




.opacity-hover{
  img{
    border: 4px solid #362828;
  }
}
.opacity-hover:hover{
  transition: 0.3s all;
  opacity: 0.9;
}





.dropdown-item{
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  color: #fff;


}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.width-350{
  width: 450px;

}


.heading_h1 {
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.heading_h2 {
  font-size: 3.475rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.heading_h5 {
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.heading_h6 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.line_separate{
  color: #270e5f;
  border: 2px solid;
  margin: 0 auto;
  width: 75%;
  border-radius: 10px;
}
.line_separate:hover{
  color: #719fef;
}


.underline {
  height: 0.25rem;
  width: 75%;
  min-width: 3rem;
  border-radius: 0.25rem;
  background:  #000;
  margin: 0 auto 1.5rem auto;
  background: linear-gradient(to right, #342323 0%, rgba(37, 234, 245, 0.6))
}

.underline-2 {
  height: 0.1rem;
  width: 100%;
  min-width: 3rem;
  border-radius: 0.15rem;
  margin: 0 auto 1.5rem auto;
  background: linear-gradient(to right, #342323 0%, rgba(37, 234, 245, 0.6))
}



.read-the-docs {
  color: #888;
}

.card-home{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.d-flex{
  display: flex;
  padding: 1rem;
}

// media 375
@media (max-width: 775px) {
  .card-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .d-flex-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.btn{
  font-size: 1em;
  background :  #342323 0%
}  

.btn:hover{
  background : #60a1a5

}

.font-italic{
  font-style: italic;

}

a {
  color: #004d40;
}


a.hoverline {
  border-bottom: 3px solid transparent !important;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
  -o-transition: 0.25s all;

  text-decoration: none;
}


a.hoverline:hover {
  border-bottom: 3px solid #8dc8be !important;
}

.col .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #362828;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.col .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #362828 transparent transparent transparent;
}

.col:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



// .star-shine {
//   position: relative;
//   font-size: calc(0.7em + 0.6vw);
// }

// .star-shine::before {
//   content: '\2605'; /* Code de caractère pour une étoile pleine */
//   position: absolute;
//   top: -18px;
//   left: 10px;
//   width: 100%;
//   height: 100%;
//   color: #ffd700; /* Couleur de l'étoile (jaune dans cet exemple) */
//   opacity: 0;
//   // transform: translateY(-0%);
//   z-index: 2;
//   animation: shine 5s infinite;
// }

// @keyframes shine {
//   0%, 100% {
//     opacity: 1;
//     transform: translateY(85%);
//   }
//   50% {
//     opacity: 1;
//     color: #a6963d;
//     transform: translateY(85%);
//   }
// }



  
  

.nav-active{
  box-shadow: 
    inset -4px -4px 6px 0 rgba(226, 212, 212, 0.5),
    inset 4px 4px 6px 0 rgba(187, 212, 244, 0.3);
  -webkit-transform: scale(1);
  border-radius: 10px;
  transform: scale(1);
}

.navbar-perso {
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 30px;
    height: 60px;
    background: linear-gradient(180deg, #362828, #362828);
    color: white;
    z-index: 1; 
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
   margin: 0 auto;
    .btn{
        border-radius: 10px;
        background-color: $color-button;
        min-width: 110px;
        height: 45px;
        color: #fff;
        transition: all 0.8s ease; // Ajoute une transition à l'animation

    } 
    .btn:hover{
        background-color: #fff;
        color: $color-button;
        transform: translateX(-3px); // Déplace le bouton de 10px vers la droite
    }

    .float-right{
        float: right;
        text-align: end;
    }
}


// Card
.card{
  border: 0.1rem solid #ebeaea;
  border-radius: 5px;
  padding: 1rem;
  min-width: 300px;

  .role {
    font-size: calc(0.7em + 0.4vw);
    position: absolute;
    right: 18px;
    top: 4%;

  }

  .card-name{
    font-size: calc(0.7em + 0.4vw);
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;

  }
}




.card .card-content {
  padding-bottom: 30px;
}

// media 375
@media (max-width: 375px) {

  .card  .role {
      font-size: calc(0.8em + 0.8vw);
      position: relative;
      top: 0;
      text-align: center;
      text-decoration: underline;
    }

  
}




.card-action span {
  font-size: calc(0.7em + 0.4vw);
  color: #666;
}



.card ul li {
  line-height: 200%;
  list-style-type: disc;
  margin-left: 24px;
}



.card-content {
  padding: 10px;
}

.card-title a {
  font-size: 1.5em;
}

.role {
  font-weight: bold;
  margin-bottom: 10px;
}


.card-action {
  padding: 10px;
  background-color: #f4f4f4; /* Couleur de fond pour la section d'action */
  border-top: 1px solid #ddd; /* Bordure supérieure */
  border-radius: 0 0 10px 10px; /* Coins inférieurs arrondis */
}








  

// SideBar

.sidebar{
   position: sticky; 
   top: calc(100% - 100vh);     
   height: 100%;
   min-height:   100vh;
   left:0;
   width: 78px;
   padding: 6px 10px;
   z-index: 99;
   background: linear-gradient(180deg, #342323 0%, rgba(37, 234, 245, 0.6) 100%);
   transition: all .5s ease; 

}
.sidebar.open{
    width: 250px;
}
.sidebar .logo_details{
    height:60px;
    display: flex;
    align-items: center;   
    position: relative;
    margin-right: 10px;
}
.sidebar .logo_details .icon{
    opacity: 0;
    transition: all .5s ease;
    color: #fff;
}
.sidebar .logo_details .logo_name{
    color: var(--color-white);
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
    color: #fff;
}
.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
    opacity: 1;
}
.sidebar .logo_details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}
.sidebar.open .logo_details #btn{
    text-align: right;
}
.sidebar i{
    color: var(--color-white);
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size:25px;
    text-align: center;
    color: #fff;
}

.sidebar svg{
    color: #ffffff;
    line-height: 60px;
    min-width: 30px;
    margin-top: 5px;
    display: flex;
    
}


.sidebar .nav-list{
    margin-top:20px;
    height: 100%;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li{
    position: relative;
    margin: 10px 0px;
    list-style: none;
}

.sidebar li .tooltip{
  position: absolute; 
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  padding: 6px 14px;
  font-size:15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none ;
}
.sidebar li:hover .tooltip{
    opacity:1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip{
    display:none;
}
.sidebar input{
    font-size: 15px;
    color: var(--color-white);
    font-weight: 400;
    outline: none;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color:var(--color-second);
    transition: all 0.5s ease ;
}
.sidebar input::placeholder{
    color: var(--color-light);
}
.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}
.sidebar .bx-search{
    position:absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: var(--color-second);
    color: var(--color-white);
}
.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: all .5s ease;
    z-index: 12;

}

.sidebar li a:after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.sidebar li .li-nav:hover:after{
  box-shadow: 
  inset -4px -4px 6px 0 rgba(226, 212, 212, 0.5),
  inset 4px 4px 6px 0 rgba(187, 212, 244, 0.3);
  -webkit-transform: scale(1);
  transform: scale(1);
  border-radius: 10px;
}

.sidebar li a .link_name{
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}

.sidebar li a:hover .link_name, .sidebar li a:hover svg{
    transition: all 0.5s ease;

}
.sidebar.open li a .link_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar li svg {
    line-height: 35px;
    width: auto !important;
    margin-left: 10px;
    padding-bottom:0.2rem ;
    border-radius: 5px;
}


.home-section{
    position: absolute;
    overflow: auto;
    background-color: #ffffff;
    min-height: 100vh;
    height: 100%;
    top: 0px;
    // padding-top: 80px;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: w;
}

.d-none-768{
    display: block;
}
.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}
.btn-navbar{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    z-index: 99;
    transition: all 0.5s ease;
}


.sidebar button {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    left: -100%;
  }

  .sidebar.open {
    position: relative;
    left: 0%;
    width: 100%;
    display: block;
    animation: slideInMobile 0.5s ease; 
  }

  @keyframes slideInMobile {
    from {
      width: 0;
    }
    to {
      width: 98%;
    }
  }

  .home-section {
    left: 0px;
    width: 100%;
  }
  .btn-sidebar-navbar {
    display: block;
  }

  .sidebar.open ~ .home-section{
    left: 100%;
    width: calc(100% - 100%);
  }

  .d-none-768{
    display: none;
  }
  .d-none-768-plus{
    display: block;
  }

}



// ScrollBar

::-webkit-scrollbar {
  display: block;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #280e5f45;
}
  
::-webkit-scrollbar-thumb {
  background-color: rgba(82, 71, 71, 0.526);
  // border: 2px solid rgba(255, 0, 0, 0.526);
  // border-left: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4690ffa1;
}
::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}











/* Style pour la carte (card) */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  // min-width: 300px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
}

/* Style pour l'image à l'intérieur de la carte */
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Style pour le contenu à l'intérieur de la carte */
.card div {
  margin-top: 12px;
}

/* Style pour le titre (h3) à l'intérieur de la carte */
.card h3 {
  color: #333;
}

/* Style pour le paragraphe (p) à l'intérieur de la carte */
.card p {
  color: #555;
}

/* Style pour les boutons à l'intérieur de la carte */
.card button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #007bff; /* Couleur bleue par défaut de Bootstrap */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

/* Style pour le bouton Demo (s'il est présent) */
.card button.Demo {
  background-color: #28a745; /* Couleur verte par défaut de Bootstrap */
}

/* Style au survol des boutons */
.card button:hover {
  background-color: #5098e4; /* Couleur bleu foncé par défaut de Bootstrap */
  color: #e0e0e0
}

.card-body{
  height:100px;
  overflow: auto;
}










.text-decoration-none{
  text-decoration: none;
}
  


  

